{% extends "layout_adm.html" %}
{% block title %} KSTorres | Registrar Proyecto {% endblock %}

{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <img class="d-flex justify-content-center text-center py-4" src="{{url_for('static',filename='img/logot.png')}}" alt="" width="200">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registrar Nuevo proyecto</h5>

                <!-- Multi Columns Form -->
                <form class="row g-3" method="POST" action="{{ url_for('proyecto.create') }}">
                <div class="col-md-12">
                    <label for="" class="form-label">Proyecto</label>
                    <input type="text" class="form-control" name="proyecto" required>
                </div>
                <div class="col-md-12">
                    <label for="" class="form-label">Caracteristica</label>
                    <input type="text" class="form-control" name="caracteristica"required>
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Superficie</label>
                    <input type="number" class="form-control" name="superficie">
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Ubicacion</label>
                    <input type="text" class="form-control" name="ubicacion" placeholder="Departamento, Municipio, Distrito" required>
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Imagen</label>
                    <input type="file" class="form-control" name="imagen">
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Fecha de contrato</label>
                    <input type="date" class="form-control" name="fecha_inicio" required>
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Fecha de entrega</label>
                    <input type="date" class="form-control" name="fecha_fin">
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Estado</label>
                    <select name="estado" class="form-select" required>
                        <option selected="">Seleccionar</option>
                        <option value="En Proceso">En Proceso</option>
                        <option value="En Construsccion">En Construccion</option>
                        <option value="Entregado">Entregado</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Presupuesto</label>
                    <input type="number" class="form-control" name="presupuesto" min="0" step="0.01">
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Usuario</label>
                    <select name="id_usuario" id="" class="form-control" required>
                        <option value="">Seleccionar un supervisor</option>
                        {% for usuario in usuarios %}
                        <option value="{{usuario.id}}">{{ usuario.nombre }} {{usuario.apellido}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-warning">Registrar</button>
                </div>
                </form><!-- End Multi Columns Form -->

            </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
  </section>
{% endblock %}