{% extends "layout_adm.html" %}
{% block title %} KSTorres | Proyectos | Detalle {% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Proyectos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/proyectos">Proyectos</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalle de los proyectos</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Proyecto</th>
                        <th>Caracteristica</th>
                        <th>Superficie</th> 
                        <th>Ubicacion</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Entrega</th>
                        <th>Estado</th>
                        <th>Presupuesto</th>
                        <th>Supervisor</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in proyectos %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <td>{{ item.proyecto }}</td>
                        <td>{{ item.caracteristica }}</td>
                        <td>{{ item.superfice }} m&sup2</td>
                        <td>{{ item.ubicacion }}</td>
                        <td>{{ item.fecha_inicio.strftime('%d/%m/%Y') }}</td>
                        <td>{{ item.fecha_fin.strftime('%d/%m/%Y') }}</td>
                        <td>{{ item.estado }}</td>
                        <td>{{ item.presupuesto}}</td>
                        <td>{{ item.usuario.nombre }} {{item.usuario.apellido }}</td>
                        <td>
                        <a href="{{ url_for('proyecto.edit',id=item.id) }}" class="btn btn-outline-warning">Editar</a>
                        </td>
                        <td>
                        <a href="{{ url_for('proyecto.delete',id=item.id) }}" class="btn btn-outline-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}