{% extends "layout_adm.html" %}
{% block title %} KSTorres | Proyectos {% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Proyectos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/proyectos">Admin</a></li>
        <li class="breadcrumb-item active">Proyectos</li>
      </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">Proyectos <span>| Entrgas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="ri-folder-5-line"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ cont_p }}</h6>
                    <span class="text-success small pt-1 fw-bold">{{porp}} %</span> <span class="text-muted small pt-2 ps-1">Entregados</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Facturas <span>| canceladas</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{total_sal}}</h6>
                    <span class="text-success small pt-1 fw-bold">{{porsl}} %</span> <span class="text-muted small pt-2 ps-1">Canceladas</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title">Personal <span>| Administrativo</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{cont_usr}} </h6>
                    <span class="text-danger small pt-1 fw-bold">{{porus}} %</span> <span class="text-muted small pt-2 ps-1">Supervisores</span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

        <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title">Proyectos <span>| </span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                        <th scope="col" >Id</th>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Caracteristica</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in proyectos %}
                    <tr>
                        <th class="fw-bold"><a href="{{ url_for('proyecto.edit',id=item.id) }}">{{ item.id }}</a></th>
                        <th>{{ item.proyecto }}</th>
                        <th>{{ item.usuario.nombre }} {{item.usuario.apellido }}</th>
                        <th>{{ item.caracteristica }}</th>
                        <th>{{ item.ubicacion }}</th>
                        <th class="badge 
                            {{ 'bg-danger' if item.estado == 'En Proceso' else '' }} 
                            {{ 'bg-warning' if item.estado == 'En Construsccion' else '' }} 
                            {{ 'bg-success' if item.estado == 'Entregado' else '' }}">
                            {{ item.estado }}
                        </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">Facturas <span>| lista</span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nro de Proyecto</th>
                      <th scope="col">Nro Factura</th> 
                      <th scope="col">Concepto</th>
                      <th scope="col">Importe total</th>
                      <th scope="col">Cuentas</th>
                      <th scope="col">Saldo</th>
                      <th scope="col">Deuda</th>
                      <th scope="col">Fecha</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for item in facturas %}
                    <tr>
                        <th class="fw-bold">{{ item.id }}</th>
                        <td>{{ item.id_proyecto }}</td>
                        <td>{{ item.nro_factura }}</td>
                        <td>{{ item.concepto }}</td>
                        <td>Bs {{ item.monto }}</td>
                        <td>Bs {{ item.cuenta }}</td>
                        <td>Bs {{ item.saldo}}</td>
                        <td class="badge 
                            {{ 'bg-danger' if item.deuda == 'nuevo' else '' }} 
                            {{ 'bg-warning' if item.deuda == 'saldo' else '' }} 
                            {{ 'bg-success' if item.deuda == 'cancelado' else '' }}">
                            {{ item.deuda }}
                        </td>
                        <td>{{ item.fecha.strftime('%d/%m/%Y')}}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- End Top Selling -->
        </div>
      </div><!-- End Left side columns -->
    </div>
  </section>

{% endblock %}