{% extends "layout_adm.html" %}
{% block title %} KSTorres | Usuarios {% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Usuarios</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/usuarios">Usuarios</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lista de Usuarios</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Perfil</th> 
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Profesion</th>
                        <th>Rol</th>
                        <th>Telefono</th>
                        <th>Salario</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in usuarios %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <th scope="row"><a href="{{ url_for('usuario.user_profile',id=item.id) }}"><img src="../../static/img/team/{{ item.foto }}" alt="" width="30" class="rounded-circle"></a></th>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellido }}</td>
                        <td>{{ item.profesions.profesion }}</td>
                        <td>{{ item.rols.cargo }}</td>
                        <td>{{ item.telefono }}</td>
                        <td>{{ item.salario}}</td>
                        <td>
                        <a href="{{ url_for('usuario.edit',id=item.id) }}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>
                        <a href="{{ url_for('usuario.delete',id=item.id) }}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}